@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.home_page_body {
  background-color: #352f58;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-between;

  &__main {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }
}
