.homePageBody {
  background-color: #352f58;
  padding-top: 20px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-between;
}

.homePageBodyMain {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.homePageAside {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
