@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.homePageBody {
  background-color: #352f58;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-between;
  @include less-than-tablet {
    flex-wrap: wrap;
  }
}

.homePageBodyMain {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.homePageAside {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
