@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.side_menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  transform: translateX(1500px);
  transition: transform 0.25s ease-in-out;
  position: absolute;
  background-color: $primary-color;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;

  @include more-than-mobile {
    border-radius: 8px;
    right: 1px;
    bottom: 0;
    left: unset;
    top: 65px;
    width: 40%;
  }

  @include more-than-tablet {
    display: none;
  }

  &__visible {
    transform: translateX(0);
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #fff;
    width: 27px !important;
    height: 27px !important;
    cursor: pointer;
  }

  &__logo {
    @include reset-link;

    display: flex;
    gap: 15px;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
    font-size: 20px;
    width: 95%;
    border-bottom: 2px solid #fafafa;

    img {
      width: 55px;
      height: 55px;
    }
  }

  &__list {
    @include reset-list;

    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 60px;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;

    li {
      display: flex;
      align-items: center;
      gap: 14px;
      cursor: pointer;

      img,
      svg {
        width: 35px;
        height: 35px;
        fill: #fff;
      }
    }

    a {
      @include reset-link;
    }
  }
}
