@import "@shared/styles/variables";
@import "@shared/styles/mixins";

.auth_layout {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: url("/images/home-page/nebula.jpg") #311044;
  background-position: bottom;
  background-size: cover;
  height: 100%;

  @include more-than-mobile {
    background: url("/images/home-page/nebula.jpg") #311044;
    background-position: bottom;
    background-size: cover;
    height: 100%;
  }

  @include more-than-laptop {
    width: 100%;
    color: #fff;
    gap: 20px;
    height: 90vh;
  }
}
