@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: #2dd7ae;

  @include more-than-tablet {
    padding: 20px 20px;
  }

  @include more-than-laptop {
    padding: 30px 55px;
    height: 100px;
  }

  @include less-than-tablet {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
