.get_on_boarded {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  overflow-y: scroll;
  margin-bottom: 70px;

  &__heading {
    color: #fff;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}
