@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.section {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  background-color: #2dd7ae;
  justify-content: space-around;

  & h1 {
    color: #1f1750;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 20px;
  }

  &__summary {
    max-width: 40%;

    &__account {
      color: #1f1750;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      margin-bottom: 20px;
    }
  }
}
