@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.btn {
  @include reset-button;
  cursor: pointer;
  background-color: #1f175040;
  border-radius: 1rem;
  backdrop-filter: blur(30px);
  padding: 0.5rem 2.5rem;
  color: #fff;
  text-align: center;
  align-self: stretch;

  &__paragraph {
    color: #fff;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
