@import "@shared/styles/variables";

@mixin reset-scrollbar {
  scrollbar-width: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin reset-link {
  color: inherit;
  font-family: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin reset-input {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  outline: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }

  input {
    appearance: textfield;
  }
}

@mixin reset-button {
  padding: 0;
  border: none;
  margin: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

@mixin small-mobile-only {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin more-than-small-mobile {
  @media (min-width: 321px) {
    @content;
  }
}

@mixin more-than-mobile {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin less-than-tablet {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin more-than-tablet {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin more-than-laptop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin base-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
}

@mixin primary-button {
  @include base-button;

  border: 1px solid $primary-color;
  background-color: $primary-color;
  color: white;

  &:disabled {
    border: 1px solid $text-grey-color;
    background-color: $text-grey-color;
    cursor: not-allowed;
  }
}

@mixin outline-button {
  @include base-button;

  border: 1px solid $primary-color;
  color: $primary-color;
  transition: box-shadow 200ms;

  &:disabled {
    border-color: $text-grey-color;
    color: $text-grey-color;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    box-shadow: inset 0 0 0 1px $primary-color;
  }
}
