$primary-color: #3368e4;
$secondary-color: #d45c9e;
$primary-color-alpha: rgb(153 30 102 / 15%);
$placeholder-color: rgb(0 0 0 / 11%);
$placeholder-pulse-color: rgb(0 0 0 / 5%);
$grey-100-color: #f5f5f5;
$grey-200-color: #e6e7eb;
$grey-300-color: #f4f4f4;
$grey-400-color: #dedede;
$grey-500-color: #585858;
$text-primary-color: #1f1a1a;
$text-secondary-color: #242d4a;
$text-grey-color: #72757f;
$text-grey-color-valid: #58585a;
$error-color: #cd4646;
$warning-color: #f68d2e;
$success-color: #44824e;
$scroll-bat-thumb-color: #a2a7b5;
$popover-z-index: 200;
$backdrop-z-index: 20;
$modal-z-index: 200;
$dialog-z-index: 22;
$max-page-width: 1600px;
