@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background: url("/images/home-page/header-background.png");

  @include more-than-tablet {
    padding: 30px 20px;
  }

  @include more-than-laptop {
    padding: 30px 55px;
    height: 100px;
  }

  &__logo {
    @include reset-link;

    display: flex;
    align-items: center;
    color: #1f1750;

    @include more-than-tablet {
      width: auto;
      height: 64px;
      font-size: 24px;
    }

    img {
      width: 50px;
      height: 50px;

      @include more-than-mobile {
        width: 122px;
        height: 64px;
      }
    }
  }

  &__list {
    @include reset-list;

    display: none;
    font-size: 18px;
    align-items: center;
    color: #fff;

    @include more-than-tablet {
      display: flex;
      font-size: 20px;
      gap: 30px;
    }

    @include more-than-laptop {
      font-size: 24px;
      gap: 40px;
    }

    a {
      @include reset-link;

      font-size: 20px;
      color: #311044;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
    align-items: center;

    &__icon_wrapper {
      @include reset-button;

      background-color: #1f1750;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      color: #fff;

      svg {
        fill: #2dd7ae !important;
      }
    }

    a {
      display: none;
      font-weight: 500;
      line-height: normal;
      cursor: pointer;

      @include more-than-tablet {
        display: flex;
        padding: 0 25px;
        height: 64px;
        font-size: 20px;
        align-items: center;
      }
    }

    &__login {
      @include reset-link;

      color: #fff;
    }

    &__signup {
      @include reset-link;

      border: 3px solid #fff;
      background-color: #fff;
      border-radius: 10px;
      color: $primary-color;
    }
  }

  &__icons {
    display: flex;
    gap: 20px;
    align-items: center;
    min-height: 50px;

    button {
      @include reset-button;

      width: fit-content;
      height: fit-content;

      svg {
        fill: #1f1750;
        color: #1f1750;
        width: 24px;
        height: 24px;

        @include more-than-mobile {
          width: 30px;
          height: 30px;
        }
      }

      @include more-than-tablet {
        display: none;
      }
    }

    @include more-than-tablet {
      display: none;
    }
  }
}
