@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.color {
  display: inline-block;
  flex-shrink: 0;
  border-radius: 100%;

  &--border {
    box-shadow: inset 0 0 2px #585858;
  }

  &--small {
    width: 12px;
    height: 12px;
  }

  &--medium {
    width: 20px;
    height: 20px;
  }
}
