@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.h1Mobile {
  display: none;

  @include less-than-tablet {
    display: block;
    color: #fff;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.quickActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
