@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.quickActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.h1Mobile {
  display: none;
  @include less-than-tablet {
    display: block;
    color: var(--white-white, #fff);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.mobileNav {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem 0rem 1rem;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 1.25rem;
  background: var(--dark-75, rgba(31, 23, 80, 0.75));
  backdrop-filter: blur(30px);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  @include less-than-tablet {
    display: flex;
    align-items: center;
  }
}

.h1MobNav {
  color: var(--white-white, #fff);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
}

.mobileNav ul {
  list-style: none;
  display: flex;
  width: 22.5rem;
  padding: 0.5rem 1rem 0rem 1rem;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.5rem;
  color: #fff;
}
