@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.mobile_nav {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem 0rem 1rem;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 1.25rem;
  background: rgba(31, 23, 80, 0.75);
  backdrop-filter: blur(30px);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  & h1 {
    color: #fff;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
  }

  & ul {
    list-style: none;
    display: flex;
    width: 22.5rem;
    padding: 0.5rem 1rem 0rem 1rem;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 10px;
  }

  @include less-than-tablet {
    display: flex;
    align-items: center;
  }
}
