@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.offers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // max-width: 50%;
  & h1 {
    color: #fff;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  & ul {
    @include reset-list;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 95%;
  }
}
